*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
}

.main-card{
    height: 50%;
    width: 70vh;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;

    border-radius: 10px 0 0 10px;
    color: #d08;
    font-size: 2.5rem;
    background-color: #2f7;
}

.data-row{
    display: flex;
}
h2{
    font-size: 3rem;
}
p{
    display: flex;
    justify-content: space-between;
}

.map{
    height: 50%;
    width: 70vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    transition: all 300ms ease-in-out;
}

.graph{
    height: 50%;
    width: 70vh;

    background-color: #fff;

    transition: all 300ms ease-in-out;
}
.hidden{
    visibility: hidden;
    width: 0;
}

.graph-btn{
    height: 50%;
    width: 1rem;
    
    color: #333;
    background-color: #2d7;
    border: none;

    transition: all 300ms ease-in-out;
}

.graph-btn:hover{
    color: #ccc;
    background-color: #2a7;
}

.map-btn{
    height: 50%;
    width: 1rem;
    border-radius: 0 10px 10px 0;

    color: #333;
    background-color: #2b7;
    border: none;

    transition: all 300ms ease-in-out;
}

.map-btn:hover{
    color: #ccc;
    background-color: #2a7;
}

@media (max-width: 767px) {
    body{
        flex-direction: column;
    }

    .main-card{
        height: 40%;
        border-radius: 10px 10px 0 0;
    }
    
    .graph-btn{
        height: 1rem;
        width: 70vh;

        color: #ccc;
        background-color: #1a4;
    }

    .map-btn{
        height: 1rem;
        width: 70vh;
        border-radius: 0 0 10px 10px;

        color: #ccc;
        background-color: #2a7;
    }

    .hidden{
        height: 0;
    }
}