*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
}

.main-card{
    height: 50%;
    width: 50%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;

    border-radius: 10px;
    color: #d08;
    font-size: 2.5rem;
    background-color: #2f7;
}

h2{
    font-size: 3rem;
}
p{
    display: flex;
    justify-content: space-between;
}